Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync

refactor: 괄호 수정
  .github/workflows/label.yml
Owners: @INDIE-RO/sync

refactor: label 자동화 로직 분리
  .github/workflows/issue-label.yml
  .github/workflows/pr-label.yml
Owners: @INDIE-RO/sync

refactor: label 자동화 로직 분리 (#57)
  .github/workflows/issue-label.yml
  .github/workflows/pr-label.yml
Owners: @INDIE-RO/sync

feat: 리뷰어 목록 수정
  .github/workflows/pr-auto-assign.yml
Owners: @INDIE-RO/sync

feat: 리뷰어 목록 수정 (#59)
  .github/workflows/pr-auto-assign.yml
Owners: @INDIE-RO/sync

feat: Dialog가 데스크톱뷰에서 가운데에 뜰 수 있도록 css 수정
  Frontend/src/components/@common/Dialog/Dialog.tsx
Owners: @HyeryongChoi, @hae-on

feat: as props를 사용하여 Chip컴포넌트의 태그를 변경할수 있도록 수정
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
Owners: @HyeryongChoi, @hae-on

feat: DialogConfirm 컴포넌트 구현
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirm.stories.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirm.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirmContext.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useConfirm.ts
Owners: @HyeryongChoi, @hae-on

refactor: 상수화하던 값 props로 받도록 수정
  Frontend/src/components/@common/ProgressBar/ProgressBar.tsx
Owners: @HyeryongChoi, @hae-on

feat: ProgressBar 구현 (#49)
  Frontend/src/components/@common/ProgressBar/ProgressBar.stories.tsx
  Frontend/src/components/@common/ProgressBar/ProgressBar.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 밖에서 tabMenus 받도록 수정
  Frontend/src/components/@common/TabMenu/TabMenu.stories.tsx
  Frontend/src/components/@common/TabMenu/TabMenu.tsx
  Frontend/src/components/@common/TabMenu/constants.ts
  Frontend/src/components/@common/TabMenu/type.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

DialogConfirm 컴포넌트 구현 (#61)
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirm.stories.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirm.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirmContext.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useConfirm.ts
Owners: @HyeryongChoi, @hae-on

fix: svg 속성 카멜케이스로 수정
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 변수 자리 이동 및 상수화
  Frontend/src/components/@common/TabMenu/constants.ts
  Frontend/src/components/@common/TabMenu/type.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: Toast 컴포넌트 구현
  Frontend/src/components/@common/Toast/Toast.stories.tsx
  Frontend/src/components/@common/Toast/Toast.tsx
Owners: @HyeryongChoi, @hae-on

feat: ToastContextProvider 구현
  Frontend/public/index.html
  Frontend/src/App.tsx
  Frontend/src/components/@common/Toast/ToastContext.tsx
  Frontend/src/components/@common/Toast/useToastProvider.ts
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

refactor: 불필요한 상태 제거
  Frontend/src/components/@common/Toast/useToastProvider.ts
Owners: @HyeryongChoi, @hae-on

feat: Dialog, Toast 배경 뒤 클릭 가능하도록 CSS 수정
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/Toast/ToastContext.tsx
Owners: @HyeryongChoi, @hae-on

feat: 렌더링과 관련 없는 요소 useRef로 변경
  Frontend/src/components/@common/Toast/Toast.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 함수 이름 일관성 있게 수정
  Frontend/src/components/@common/Toast/useToastProvider.ts
Owners: @HyeryongChoi, @hae-on

refactor: animation 글로벌 스타일로 분리
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/Toast/Toast.tsx
  Frontend/src/emotion.d.ts
  Frontend/src/styles/theme.ts
Owners: @HyeryongChoi, @hae-on

feat: 모바일뷰일 때 Toast 가운데 정렬되도록 CSS 수정
  Frontend/src/components/@common/Toast/ToastContext.tsx
Owners: @HyeryongChoi, @hae-on

feat: 메타데이터 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/MetadataController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Metadata.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
Owners: @HASEUNGHEEE

feat: TabMenu 구현 (#41)
  Frontend/src/components/@common/TabMenu/TabMenu.stories.tsx
  Frontend/src/components/@common/TabMenu/TabMenu.tsx
  Frontend/src/components/@common/TabMenu/constants.ts
  Frontend/src/components/@common/TabMenu/type.ts
  Frontend/src/components/@common/TabMenu/useTabMenu.ts
  Frontend/src/constants/common.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: 메타데이터 조회 기능 구현 (#67)
  Backend/Indiero/src/main/java/com/indiero/controller/MetadataController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Metadata.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
Owners: @HASEUNGHEEE

feat: Toast 컴포넌트 구현 (#63)
  Frontend/.storybook/preview-body.html
  Frontend/public/index.html
  Frontend/src/App.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/Toast/Toast.stories.tsx
  Frontend/src/components/@common/Toast/Toast.tsx
  Frontend/src/components/@common/Toast/ToastContext.tsx
  Frontend/src/components/@common/Toast/useToastProvider.ts
  Frontend/src/components/@common/index.ts
  Frontend/src/emotion.d.ts
  Frontend/src/styles/theme.ts
Owners: @HyeryongChoi, @hae-on

refactor: 정책 정렬 메타데이터 수정
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
Owners: @HASEUNGHEEE

refactor: 기본 레이아웃 구현
  Frontend/src/App.tsx
  Frontend/src/components/@common/DefaultLayout/DefaultLayout.tsx
  Frontend/src/components/@common/MobileLayout/MobileLayout.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/Homepage.tsx
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

chore: search 아이콘 추가
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
Owners: @HyeryongChoi, @hae-on

chore: search icon 기본 stroke값 제거
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/Svg/SvgSprite.tsx
Owners: @HyeryongChoi, @hae-on

feat: useDebounce 훅 구현
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useDebounce.ts
Owners: @HyeryongChoi, @hae-on

feat: SearchBar 구현
  Frontend/src/components/@common/SearchBar/SearchBar.stories.tsx
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
Owners: @HyeryongChoi, @hae-on

refactor: hasLayout props 이름 hasHeader로 변경
  Frontend/src/App.tsx
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

refactor: Layout 폴더 생성 후 파일 이동
  Frontend/src/components/@common/Layout/DefaultLayout.tsx
  Frontend/src/components/@common/Layout/DesktopLayout.tsx
  Frontend/src/components/@common/Layout/MobileLayout.tsx
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

refactor: 기본 레이아웃 구현 (#70)
  Frontend/src/App.tsx
  Frontend/src/components/@common/Layout/DefaultLayout.tsx
  Frontend/src/components/@common/Layout/DesktopLayout.tsx
  Frontend/src/components/@common/Layout/MobileLayout.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/Homepage.tsx
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 태그 속성 순서 변경
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
Owners: @HyeryongChoi, @hae-on

chore: SearchBar 경로 index에 추가
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

feat: SearchBar 구현 (#72)
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/SearchBar/SearchBar.stories.tsx
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useDebounce.ts
Owners: @HyeryongChoi, @hae-on

chore: 클로버 캐릭터 추가
  Frontend/src/assets/clover1.svg
  Frontend/src/assets/clover2.svg
Owners: @HyeryongChoi, @hae-on

refactor: 100% -> 100vh
  Frontend/src/components/@common/Layout/MobileLayout.tsx
Owners: @HyeryongChoi, @hae-on
