Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync

refactor: 정책 상세 정보 조회 기능 수정 (#118)
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

feat: 스크롤 버튼 추가
  Frontend/src/components/@common/ScrollButton/ScrollButton.tsx
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearchPage.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 다이얼로그 백드롭 색상 변경 (#114)
  Frontend/src/components/@common/Dialog/Dialog.tsx
Owners: @HyeryongChoi, @hae-on

chore: 사용하지 않는 폰트 삭제
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

feat: 홈 페이지 구현 (#109)
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/components/@common/Dropdown/Dropdown.tsx
  Frontend/src/components/@common/Layout/MobileLayout.tsx
  Frontend/src/components/@common/ScrollButton/ScrollButton.tsx
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
  Frontend/src/components/@common/WordCloud/WordCloud.api.ts
  Frontend/src/components/@common/WordCloud/WordCloud.query.ts
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/wordCloud.json
  Frontend/src/mocks/fixtures/policy.ts
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/mocks/handlers/wordCloudHandlers.js
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/Homepage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearch.api.ts
  Frontend/src/pages/PolicySearchPage/PolicySearch.hook.ts
  Frontend/src/pages/PolicySearchPage/PolicySearch.query.ts
  Frontend/src/pages/PolicySearchPage/PolicySearchListContainer.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearchPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

refactor: 사용자 맞춤정보 결과 조회 기능 수정
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/UserPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/repository/UserPolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

refactor: 사용자 맞춤정보 결과 조회 기능 수정 (#120)
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/UserPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/repository/UserPolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

feat: 인트로 페이지 멘트 구현
  Frontend/src/pages/IntroPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 인트로 페이지 멘트 구현 (#122)
  Frontend/src/pages/IntroPage.tsx
Owners: @HyeryongChoi, @hae-on

fix: dialog height 100%로 설정하여 모바일 디바이스에서 보이지 않는 문제 해결
  Frontend/package.json
  Frontend/src/components/@common/Dialog/Dialog.tsx
Owners: @HyeryongChoi, @hae-on

fix: dialog height 100%로 설정하여 모바일 디바이스에서 보이지 않는 문제 해결 (#125)
  Frontend/package.json
  Frontend/src/components/@common/Dialog/Dialog.tsx
Owners: @HyeryongChoi, @hae-on

feat: open된 dialog를 포함하는 요소 스크롤 막기
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

feat: 필터바텀시트 스타일 수정
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
Owners: @HyeryongChoi, @hae-on

feat: dialog 데스크톱뷰일 경우 height: fit-content로 설정
  Frontend/src/components/@common/Dialog/Dialog.tsx
Owners: @HyeryongChoi, @hae-on

feat: 모바일 웹인 경우 필터 바텀시트에 마진 스타일 적용
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

feat: Loading 컴포넌트 구현
  Frontend/src/components/@common/Loading/Loading.stories.tsx
  Frontend/src/components/@common/Loading/Loading.tsx
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

feat: 로딩 페이지 구현
  Frontend/src/App.tsx
  Frontend/src/pages/LoadingPage.tsx
  Frontend/src/pages/index.ts
Owners: @HyeryongChoi, @hae-on

feat: loading page path 추가
  Frontend/src/constants/path.ts
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 설문 수정 cursor 가도록 수정
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
Owners: @HyeryongChoi, @hae-on

feat: not found page 구현
  Frontend/src/assets/notFound.svg
  Frontend/src/pages/NotFoundPage.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 맞춤정책 없을 때 화면, 잘리지 않도록 수정
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/pages/CustomInfoPage.tsx
Owners: @HyeryongChoi, @hae-on

refactor: query suspense 작동하지 않도록 수정
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 모바일 웹 dialog 관련 스타일 수정 (#127)
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 테스크탑 버전 스크롤 left 값 변경
  Frontend/src/components/@common/ScrollButton/ScrollButton.tsx
Owners: @HyeryongChoi, @hae-on

feat: 404 페이지, 로딩 페이지 구현 및 스크롤 버튼 위치 수정 (#129)
  Frontend/src/App.tsx
  Frontend/src/assets/notFound.svg
  Frontend/src/components/@common/Loading/Loading.stories.tsx
  Frontend/src/components/@common/Loading/Loading.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/@common/ScrollButton/ScrollButton.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/constants/path.ts
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/LoadingPage.tsx
  Frontend/src/pages/NotFoundPage.tsx
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

refactor: undefined 처리
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
Owners: @HyeryongChoi, @hae-on

refactor: 버튼 fixed로 변경
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/IntroPage.tsx
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Owners: @HyeryongChoi, @hae-on

chore: import 경로 수정
  Frontend/src/pages/NotFoundPage.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 버튼 스타일 fixed로 변경 (#131)
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/IntroPage.tsx
  Frontend/src/pages/NotFoundPage.tsx
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 검색어 저장 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/KeywordCount.java
  Backend/Indiero/src/main/java/com/indiero/repository/KeywordRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

feat: 검색어 저장 기능 구현 (#132)
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/KeywordCount.java
  Backend/Indiero/src/main/java/com/indiero/repository/KeywordRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

chore: 기존 워드클라우드 라이브러리 삭제
  Frontend/package-lock.json
  Frontend/package.json
Owners: @HyeryongChoi, @hae-on

chore: adorable-word-cloud 설치
  Frontend/package-lock.json
  Frontend/package.json
Owners: @HyeryongChoi, @hae-on

refactor: 워드클라우드 라이브러리 교체 및 적용
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 워드클라우드 라이브러리 교체 (#134)
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
Owners: @HyeryongChoi, @hae-on

fix: 검색어 입력할 때마다 홈페이지 리렌더링 되는 문제 해결
  Frontend/src/components/@common/SearchBar/SearchBarContainer.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/Homepage.tsx
Owners: @HyeryongChoi, @hae-on

fix: 검색어 입력할 때마다 홈페이지 리렌더링 되는 문제 해결 (#136)
  Frontend/src/components/@common/SearchBar/SearchBarContainer.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/Homepage.tsx
Owners: @HyeryongChoi, @hae-on

chore: og태그 삽입
  Frontend/public/assets/og-image.png
  Frontend/public/index.html
Owners: @HyeryongChoi, @hae-on

chore: og태그 삽입 (#138)
  Frontend/public/assets/og-image.png
  Frontend/public/index.html
Owners: @HyeryongChoi, @hae-on

feat: 배포 자동화 파일 작성
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync
