Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

에러바운더리 추가 및 에러페이지 생성 (#163)
  Frontend/src/App.tsx
  Frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/ErrorPage.tsx
  Frontend/src/pages/index.ts
Owners: @HyeryongChoi, @hae-on

chore: 카테고리별 정책 목데이터 추가
  Frontend/src/mocks/data/policies.json
  Frontend/src/mocks/handlers/policyHandlers.js
Owners: @HyeryongChoi, @hae-on

feat: MSW 정책 검색 로직 구현
  Frontend/src/mocks/handlers/policyHandlers.js
Owners: @HyeryongChoi, @hae-on

chore: 불필요한 파일 삭제
  Frontend/src/components/@common/Button/Button.stories.ts
  Frontend/src/components/@common/Button/Button.tsx
  Frontend/src/components/@common/Button/button.css
Owners: @HyeryongChoi, @hae-on

fix: 전체 지역 선택되어있는 경우 '전체'버튼 활성화
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.hook.ts
Owners: @HyeryongChoi, @hae-on

feat: 필터 초기화 기능 추가
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.hook.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
Owners: @HyeryongChoi, @hae-on

MSW 목데이터 추가 및 맞춤정보 페이지 리팩터링 (#161)
  Frontend/src/components/@common/Button/Button.stories.ts
  Frontend/src/components/@common/Button/Button.tsx
  Frontend/src/components/@common/Button/button.css
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/mocks/data/policies.json
  Frontend/src/mocks/handlers/policyHandlers.js
Owners: @HyeryongChoi, @hae-on

feat: Chip 트랜지션 시간 0.07초로 변경
  Frontend/src/components/@common/Chip/Chip.tsx
Owners: @HyeryongChoi, @hae-on

chore: 배너 이미지 추가
  Frontend/src/assets/banner-big_1.png
  Frontend/src/assets/banner-big_2.png
  Frontend/src/assets/banner-small_1.png
  Frontend/src/assets/banner-small_2.png
Owners: @HyeryongChoi, @hae-on

feat: 캐러셀 구현
  Frontend/src/components/@common/Carousel/Carousel.stories.tsx
  Frontend/src/components/@common/Carousel/Carousel.tsx
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

chore: 실시간 -> 오늘의
  Frontend/src/pages/Homepage.tsx
Owners: @HyeryongChoi, @hae-on

chore: 이미지 webpack 설정 및 이름 수정
  Frontend/src/assets/banner-1.png
  Frontend/src/assets/banner-2.png
  Frontend/src/assets/banner-big_1.png
  Frontend/src/assets/banner-big_2.png
  Frontend/webpack.config.js
Owners: @HyeryongChoi, @hae-on

feat: cors 세팅
  Backend/Indiero/src/main/java/com/indiero/common/WebConfig.java
Owners: @HASEUNGHEEE

fix: 맞춤정보 조회 기능 수정
  Backend/Indiero/build.gradle
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/UserPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

feat: 추천 정책 api, query 로직 작성
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.api.ts
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.query.ts
  Frontend/src/constants/path.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: AI 추천 정책 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Policy.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/RecommendationPolicyResponse.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

feat: 정책 배너 구현
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.stories.tsx
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/mocks/data/recommendPolicy.json
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/Homepage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 상세 클릭 시 로컬스토리지 기록 및 id 값 추천 정책 params 추가
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.api.ts
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/utils/localStorage.ts
Owners: @HyeryongChoi, @hae-on

chore: 필요없는 코드 삭제
  Frontend/src/constants/path.ts
Owners: @HyeryongChoi, @hae-on

refactor: 화면 크기에 따른 스타일 수정
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.tsx
  Frontend/src/utils/style.ts
Owners: @HyeryongChoi, @hae-on

정책 필터 초기화 기능 구현 (#166)
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.hook.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
  Frontend/src/pages/Homepage.tsx
Owners: @HyeryongChoi, @hae-on

feat: AI 추천 정책 조회 기능 (#168)
  Backend/Indiero/build.gradle
  Backend/Indiero/src/main/java/com/indiero/common/WebConfig.java
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Policy.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/UserPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/RecommendationPolicyResponse.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

refactor: recommeded로 통일
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.query.ts
  Frontend/src/components/Policy/RecommendPolicy/RecommendPolicy.stories.tsx
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.api.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.stories.tsx
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/pages/Homepage.tsx
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

refactor: 정책 리스트 밑에 공간 설정
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearchPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 추천 정책 조회 구현 (#169)
  Frontend/src/assets/banner-1.png
  Frontend/src/assets/banner-2.png
  Frontend/src/components/@common/Carousel/Carousel.stories.tsx
  Frontend/src/components/@common/Carousel/Carousel.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.api.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.stories.tsx
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/recommendPolicy.json
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/Homepage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearchPage.tsx
  Frontend/src/types/common.ts
  Frontend/src/utils/localStorage.ts
  Frontend/src/utils/style.ts
  Frontend/webpack.config.js
Owners: @HyeryongChoi, @hae-on

chore: 릴리즈 워크플로우 추가
  .github/release-drafter.yml
  .github/workflows/release.yml
Owners: @INDIE-RO/sync

feat: 추천 정책 조회 쿼리 캐시키에 정책 아이디 추가
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
Owners: @HyeryongChoi, @hae-on

chore: 릴리즈 워크플로우 생성 (#172)
  .github/release-drafter.yml
  .github/workflows/release.yml
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync
