Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

chore: yml파일 탭 문자 공백문자로 변경
  .github/labeler.yml
Owners: @INDIE-RO/sync

chore: yml파일 탭 문자 공백문자로 변경 (#15)
  .github/labeler.yml
Owners: @INDIE-RO/sync

chore: PR Assignees 등록 워크플로우 추가
  .github/workflows/pr-auto-assign.yml
Owners: @INDIE-RO/sync

chore: PR Assignees 등록 워크플로우 추가 (#17)
  .github/workflows/pr-auto-assign.yml
Owners: @INDIE-RO/sync

feat: 레이아웃 컴포넌트 구현 (#11)
  Frontend/.babelrc.json
  Frontend/.storybook/preview-body.html
  Frontend/src/App.tsx
  Frontend/src/assets.d.ts
  Frontend/src/assets/indieroBackground.svg
  Frontend/src/components/@common/DesktopLayout/DesktopLayout.tsx
  Frontend/src/components/@common/DesktopLayout/index.ts
  Frontend/src/components/@common/MobileLayout/MobileLayout.tsx
  Frontend/src/components/@common/MobileLayout/index.ts
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/router/router.tsx
  Frontend/tsconfig.json
  Frontend/webpack.config.js
Owners: @HyeryongChoi, @hae-on

chore: PR Auto Assign 워크플로우 트리거 조건에 closed 이벤트 추가
  .github/workflows/pr-auto-assign.yml
Owners: @INDIE-RO/sync

chore: PR Auto Assign 워크플로우 트리거 조건에 closed 이벤트 추가 (#19)
  .github/workflows/pr-auto-assign.yml
Owners: @INDIE-RO/sync

chore: 홈페이지 페이지 임시 연결
  Frontend/src/pages/Homepage.tsx
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

feat: 글로벌 스타일 및 theme 설정
  Frontend/src/index.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/styles/theme.ts
Owners: @HyeryongChoi, @hae-on

chore: px to rem
  Frontend/src/styles/theme.ts
Owners: @HyeryongChoi, @hae-on

feat: 폰트 기본 색상 설정
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

feat: 글로벌 스타일 및 theme 설정 (#21)
  Frontend/src/index.tsx
  Frontend/src/pages/Homepage.tsx
  Frontend/src/router/router.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/styles/theme.ts
Owners: @HyeryongChoi, @hae-on

feat: 폰트 설정
  Frontend/src/styles/font.ts
Owners: @HyeryongChoi, @hae-on

refactor: html 62.5로 변경 후 그에 맞게 rem 변경
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/styles/theme.ts
Owners: @HyeryongChoi, @hae-on

refactor: 폰트 재설정 (#23)
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/styles/font.ts
  Frontend/src/styles/theme.ts
Owners: @HyeryongChoi, @hae-on

chore: emotion styled 설치
  Frontend/package.json
  Frontend/pnpm-lock.yaml
Owners: @HyeryongChoi, @hae-on

chore: 스토리북 글로벌 스타일 및 theme 설정
  Frontend/.storybook/preview.tsx
Owners: @HyeryongChoi, @hae-on

feat: emotion styled 설치 및 스토리북 글로벌 스타일 적용 (#26)
  Frontend/.storybook/preview.tsx
  Frontend/package.json
  Frontend/pnpm-lock.yaml
Owners: @HyeryongChoi, @hae-on

chore: 모든 story에 자동으로 Docs 추가
  Frontend/.storybook/preview.tsx
Owners: @HyeryongChoi, @hae-on

feat: Chip 컴포넌트 구현
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/Chip/index.ts
Owners: @HyeryongChoi, @hae-on

feat: ChipButton 컴포넌트 구현
  Frontend/src/components/@common/ChipButton/ChipButton.stories.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
  Frontend/src/components/@common/ChipButton/index.ts
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

chore: 백엔드 개발 환경 세팅
  Backend/Indiero/build.gradle
  Backend/Indiero/gradle/wrapper/gradle-wrapper.jar
  Backend/Indiero/gradle/wrapper/gradle-wrapper.properties
  Backend/Indiero/gradlew
  Backend/Indiero/gradlew.bat
  Backend/Indiero/settings.gradle
  Backend/Indiero/src/main/java/com/indiero/IndieroApplication.java
  Backend/Indiero/src/main/resources/application.properties
  Backend/Indiero/src/test/java/com/indiero/IndieroApplicationTests.java
Owners: @HASEUNGHEEE

chore: 백엔드 개발 환경 세팅 (#29)
  Backend/Indiero/build.gradle
  Backend/Indiero/gradle/wrapper/gradle-wrapper.jar
  Backend/Indiero/gradle/wrapper/gradle-wrapper.properties
  Backend/Indiero/gradlew
  Backend/Indiero/gradlew.bat
  Backend/Indiero/settings.gradle
  Backend/Indiero/src/main/java/com/indiero/IndieroApplication.java
  Backend/Indiero/src/main/resources/application.properties
  Backend/Indiero/src/test/java/com/indiero/IndieroApplicationTests.java
Owners: @HASEUNGHEEE

fix: 스토리북에서 글로벌스타일 적용 안되는 문제 decorators 위치 이동하여 해결
  Frontend/.storybook/preview.tsx
Owners: @HyeryongChoi, @hae-on

refactor: index파일에 import문 이동
  Frontend/src/App.tsx
  Frontend/src/components/@common/Chip/index.ts
  Frontend/src/components/@common/ChipButton/index.ts
  Frontend/src/components/@common/DesktopLayout/index.ts
  Frontend/src/components/@common/MobileLayout/index.ts
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

feat: NavigationBar 구현
  Frontend/src/components/@common/NavigationBar/NavigationBar.stories.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

chore: 네비게이션 바 아이콘 추가
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
Owners: @HyeryongChoi, @hae-on

chore: 스토리북 decorator 순서 변경
  Frontend/.storybook/preview.tsx
Owners: @HyeryongChoi, @hae-on

feat: 라우팅 설정
  Frontend/src/constants/path.ts
  Frontend/src/router/router.tsx
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

refactor: 기본 폰트 색상 변경
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

refactor: px to rem
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
Owners: @HyeryongChoi, @hae-on

chore: 스토리북 라우터 설정 삭제
  Frontend/.storybook/preview.tsx
Owners: @HyeryongChoi, @hae-on

feat: Indiero 로고 헤더 구현
  Frontend/src/assets/logo.svg
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.stories.tsx
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.tsx
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

chore: 스토리북 svg 설정 추가
  Frontend/.storybook/main.ts
Owners: @HyeryongChoi, @hae-on

refactor: 단위 변경 및 배경색 추가
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 스타일 객체로 분리
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.stories.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
Owners: @HyeryongChoi, @hae-on

feat: string 타입 대신 CSSProperties로 수정
  Frontend/src/components/@common/Chip/Chip.tsx
Owners: @HyeryongChoi, @hae-on

feat: Chip 컴포넌트 구현 (#28)
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.stories.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
  Frontend/src/components/@common/DesktopLayout/index.ts
  Frontend/src/components/@common/MobileLayout/index.ts
  Frontend/src/components/@common/index.ts
  Frontend/src/styles/GlobalStyle.tsx
Owners: @HyeryongChoi, @hae-on

feat: 네비게이션 바 구현 (#30)
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/NavigationBar/NavigationBar.stories.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/router/router.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: Navigable Header 구현
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.stories.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync
