Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync

chore: pnpm 설치도 조건부로 바꿔봄
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: 다시 원복
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: PlayWright 패키지 캐싱 로직 삭제
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: playwright-report 경로 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: 테스트 결과 실패하는 경우에만 저장
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

fix: 타입체킹 명령 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: 테스트 실행 명령어 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

feat: PlayWright 설치 및 테스트 자동화 적용 (#144)
  .github/workflows/frontend-playwright.yml
  .github/workflows/pr-label.yml
  Frontend/.gitignore
  Frontend/package.json
  Frontend/playwright.config.ts
  Frontend/pnpm-lock.yaml
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/utils/route.ts
  Frontend/tests-examples/demo-todo-app.spec.ts
  Frontend/tests/example.spec.ts
  Frontend/tests/tsconfig.json
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

chore: 문의 이메일 변경
  Frontend/src/constants/error.ts
Owners: @HyeryongChoi, @hae-on

feat: 이슈 할당자 자동 등록 구현
  .github/workflows/issue-label.yml
Owners: @INDIE-RO/sync

chore: pnpm 업데이트
  Frontend/pnpm-lock.yaml
Owners: @HyeryongChoi, @hae-on

chore: 문의 이메일 변경
  Frontend/src/constants/error.ts
Owners: @HyeryongChoi, @hae-on

feat: 이슈 할당자 자동 등록 구현
  .github/workflows/issue-label.yml
Owners: @INDIE-RO/sync

refactor: playwright 설치 구문 변경
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

feat: 이슈 할당자 자동 등록 구현 (#147)
  .github/workflows/frontend-playwright.yml
  .github/workflows/issue-label.yml
  Frontend/src/constants/error.ts
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

feat: env google 분석 env 추가
  Frontend/src/types/env.d.ts
Owners: @HyeryongChoi, @hae-on

feat: 구글 애널리틱스 로직 추가
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/index.tsx
  Frontend/src/pages/Homepage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 구글 애널리틱스 코드 삽입 (#149)
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/index.tsx
  Frontend/src/pages/Homepage.tsx
  Frontend/src/types/env.d.ts
Owners: @HyeryongChoi, @hae-on

chore: 구글 애널리틱스 아이디 추가
  .github/workflows/frontend-deploy.yml
Owners: @INDIE-RO/sync

chore: 구글 애널리틱스 아이디 추가 (#151)
  .github/workflows/frontend-deploy.yml
Owners: @INDIE-RO/sync

feat: msw base url 설정
  Frontend/src/constants/path.ts
  Frontend/src/index.tsx
  Frontend/src/mocks/handlers/metaDataHandlers.js
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/mocks/handlers/wordCloudHandlers.js
  Frontend/src/types/env.d.ts
Owners: @HyeryongChoi, @hae-on

feat: api BASE URL 변경 및 production 빌드 설정
  Frontend/src/components/Policy/CustomInfo/CustomInfo.api.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.query.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/index.tsx
  Frontend/src/types/env.d.ts
Owners: @HyeryongChoi, @hae-on

chore: 배포 워크플로우에 BASE_URL env 추가
  .github/workflows/frontend-deploy.yml
Owners: @INDIE-RO/sync

feat: 모집 중인 경우에만 d-day 조건부 렌더링 적용
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.tsx
  Frontend/src/components/Policy/PolicyItem/PolicyItem.tsx
Owners: @HyeryongChoi, @hae-on

feat: msw base url 설정 (#153)
  Frontend/src/constants/path.ts
  Frontend/src/index.tsx
  Frontend/src/mocks/handlers/metaDataHandlers.js
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/mocks/handlers/wordCloudHandlers.js
  Frontend/src/types/env.d.ts
Owners: @HyeryongChoi, @hae-on

feat: 사용자 설문조사 결과 변경 시 맞춤정보 쿼리 파라미터 동기화
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
Owners: @HyeryongChoi, @hae-on

refactor: 중복된 BASE_URL 변수 제거
  Frontend/src/apis/fetcher.ts
Owners: @HyeryongChoi, @hae-on

feat: api BASE_URL 변경 및 맞춤정보 쿼리 수정 (#155)
  .github/workflows/frontend-deploy.yml
  Frontend/src/apis/fetcher.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.api.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.query.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.tsx
  Frontend/src/components/Policy/PolicyItem/PolicyItem.tsx
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

feat: 정책 상세정보 개행문자 적용되도록 pre태그로 변경
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.tsx
Owners: @HyeryongChoi, @hae-on

fix: 네비게이션바에서 맞춤정보 클릭 시 쿼리파라미터 초기화 되는 문제 해결
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
Owners: @HyeryongChoi, @hae-on

feat: 정책 상세정보 개행문자 적용 및 맞춤정보 네비게이터 오류 해결 (#157)
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.tsx
Owners: @HyeryongChoi, @hae-on

fix: 모든 화면에서 새로고침 시 홈 화면으로 이동하는 오류 수정
  Frontend/src/App.tsx
Owners: @HyeryongChoi, @hae-on

chore: test 파일 폴더 명 변경
  .github/workflows/frontend-playwright.yml
  Frontend/__tests__/example.spec.ts
  Frontend/__tests__/tsconfig.json
  Frontend/playwright.config.ts
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

refactor: policy id 값 query 추가
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.query.ts
Owners: @HyeryongChoi, @hae-on

fix: 배포 후 버그 리포팅 (#159)
  .github/workflows/frontend-playwright.yml
  Frontend/__tests__/example.spec.ts
  Frontend/__tests__/tsconfig.json
  Frontend/playwright.config.ts
  Frontend/src/App.tsx
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.query.ts
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

fix: 맞춤정책 지역 잘못된 부등호 수정
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
Owners: @HyeryongChoi, @hae-on

feat: 정책목록 정렬 및 필터링 로직 구현
  Frontend/src/mocks/handlers/policyHandlers.js
Owners: @HyeryongChoi, @hae-on

refactor: 맞춤정보 스켈레톤UI 적용
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
Owners: @HyeryongChoi, @hae-on

feat: 에러바운더리 구현
  Frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  Frontend/src/components/@common/index.ts
Owners: @HyeryongChoi, @hae-on

feat: 에러페이지 구현
  Frontend/src/App.tsx
  Frontend/src/pages/ErrorPage.tsx
  Frontend/src/pages/index.ts
Owners: @HyeryongChoi, @hae-on
