Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync

feat: 해당 카드 클릭 시 상세로 넘어가는 link 추가
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
Owners: @HyeryongChoi, @hae-on

chore: 파비콘 추가
  Frontend/public/favicon.ico
  Frontend/public/index.html
Owners: @HyeryongChoi, @hae-on

refactor: tab 관련 로직 수정
  Frontend/src/components/@common/TabMenu/constants.ts
  Frontend/src/pages/PolicyListPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: policy detail over view 구현
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.stories.tsx
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.tsx
  Frontend/src/components/Policy/index.ts
Owners: @HyeryongChoi, @hae-on

feat: policy content 컴포넌트 구현
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.stories.tsx
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.tsx
  Frontend/src/components/Policy/index.ts
Owners: @HyeryongChoi, @hae-on

refactor: tab menu 컴포넌트 index export
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/PolicyListPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: policy detail page 구현
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.constant.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.type.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetailPage.tsx
  Frontend/src/pages/index.ts
Owners: @HyeryongChoi, @hae-on

refactor: tab type 원상 복구
  Frontend/src/components/@common/TabMenu/constants.ts
Owners: @HyeryongChoi, @hae-on

refactor: tab type 수정
  Frontend/src/components/@common/TabMenu/useTabMenu.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetailPage.tsx
  Frontend/src/pages/PolicyListPage.tsx
Owners: @HyeryongChoi, @hae-on

chore: 사용하지 않는 import 제거
  Frontend/src/pages/PolicyListPage.tsx
Owners: @HyeryongChoi, @hae-on

chore: 링크 버튼 문구 수정
  Frontend/src/pages/PolicyDetailPage/PolicyDetailPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 정책 상세 페이지 구현 (#106)
  Frontend/src/components/@common/TabMenu/useTabMenu.ts
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.stories.tsx
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.tsx
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.stories.tsx
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/policyDetail.json
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.api.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.constant.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.query.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.type.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetailPage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

feat: 모두보기 결과 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/AllPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

refactor: 파비콘 에러 수정
  Frontend/pnpm-lock.yaml
  Frontend/public/assets/apple-icon-180x180.png
  Frontend/public/assets/favicon-16x16.png
  Frontend/public/assets/favicon-32x32.png
  Frontend/public/assets/favicon.ico
  Frontend/public/index.html
  Frontend/webpack.config.js
Owners: @HyeryongChoi, @hae-on

refactor: meta 추가
  Frontend/public/index.html
Owners: @HyeryongChoi, @hae-on

chore: 파비콘 추가 (#105)
  Frontend/pnpm-lock.yaml
  Frontend/public/assets/apple-icon-180x180.png
  Frontend/public/assets/favicon-16x16.png
  Frontend/public/assets/favicon-32x32.png
  Frontend/public/assets/favicon.ico
  Frontend/public/index.html
  Frontend/webpack.config.js
Owners: @HyeryongChoi, @hae-on

feat: 모두보기 결과 조회 기능 구현 (#107)
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/AllPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

refactor: 컴포넌트명 수정
  Frontend/src/components/@common/Dropdown/Dropdown.tsx
Owners: @HyeryongChoi, @hae-on

feat: 모바일 레이아웃 스타일 수정
  Frontend/src/components/@common/Layout/MobileLayout.tsx
Owners: @HyeryongChoi, @hae-on

feat: Search API 구현
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/PolicySearchPage/PolicySearch.api.ts
  Frontend/src/pages/PolicySearchPage/PolicySearch.query.ts
Owners: @HyeryongChoi, @hae-on

feat: 검색기능 구현
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/pages/Homepage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearch.hook.ts
  Frontend/src/pages/PolicySearchPage/PolicySearchListContainer.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearchPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

feat: 해시태그 검색기능 구현
  Frontend/src/pages/Homepage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearch.hook.ts
Owners: @HyeryongChoi, @hae-on

feat: 워드클라우드 조회 기능 구현
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/components/@common/WordCloud/WordCloud.api.ts
  Frontend/src/components/@common/WordCloud/WordCloud.query.ts
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/wordCloud.json
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/wordCloudHandlers.js
  Frontend/src/pages/Homepage.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: 모든정책목록에 검색창 추가
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
  Frontend/src/pages/PolicyListPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 워드클라우드 글씨 겹치게 나오지 않도록 padding 4로 설정
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
Owners: @HyeryongChoi, @hae-on

chore: 워드클라우드 api 요청 url 수정
  Frontend/src/constants/path.ts
  Frontend/src/mocks/handlers/index.ts
Owners: @HyeryongChoi, @hae-on

feat: 워드클라우드 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Word.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/WordCloudResponse.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

feat: 워드클라우드 조회 기능 구현 (#111)
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Word.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/WordCloudResponse.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

refactor: 다이얼로그 백드롭 색상 변경
  Frontend/src/components/@common/Dialog/Dialog.tsx
Owners: @HyeryongChoi, @hae-on

feat: 데이터프레임 전처리 구현
  Data/DataFrame.py
Owners: @enxxo

Delete 데이터프레임_전처리.py
  데이터프레임_전처리.py
Owners: none

Rename DataFrame.py to Proprecessing.py
  Data/Proprecessing.py
Owners: @enxxo

fear: 텍스트 마이닝
  Data/WordCloud
Owners: @enxxo

feat: 데이터프레임 전처리 구현
  Data/Proprecess.py
Owners: @enxxo

feat: 텍스트 마이닝
  Data/WordCloud
  Data/WordCloud.py
Owners: @enxxo

refactor: 워드클라우드 단어 가중치 변경
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

chore: 워드 클라우드 value 값 명세에 맞게 변경
  Frontend/src/mocks/data/wordCloud.json
Owners: @HyeryongChoi, @hae-on

feat: 검색 결과 없을 때, msw 로직 구현
  Frontend/src/mocks/fixtures/policy.ts
  Frontend/src/mocks/handlers/policyHandlers.js
Owners: @HyeryongChoi, @hae-on

refactor: 정책 상세 정보 조회 기능 수정
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE

refactor: 워드클라우드 단어 가중치 변경 (#116)
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Owners: @HASEUNGHEEE
