Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

chore: 전역 Suspense 위치 변경
  Frontend/src/App.tsx
  Frontend/src/index.tsx
Owners: @HyeryongChoi, @hae-on

feat: fallback ui 표출을 위해 정책목록 불러오는 로직 PolicyList 안으로 위치 변경
  Frontend/src/components/Policy/PolicyList/PolicyList.stories.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
Owners: @HyeryongChoi, @hae-on

feat: assets에 svg 넣는 방식으로 변경
  Frontend/.storybook/preview-body.html
  Frontend/src/assets/noResult.svg
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
Owners: @HyeryongChoi, @hae-on

feat: 구체적인 에러메시지로 수정
  Frontend/src/components/Policy/PolicyList/PolicyList.api.ts
Owners: @HyeryongChoi, @hae-on

feat: 정책목록 조회 기능 구현 (#86)
  Frontend/src/App.tsx
  Frontend/src/assets/noResult.svg
  Frontend/src/components/@common/Tag/Tag.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/PolicyItem/PolicyItem.stories.tsx
  Frontend/src/components/Policy/PolicyItem/PolicyItem.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.api.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.query.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.stories.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/common.ts
  Frontend/src/constants/path.ts
  Frontend/src/index.tsx
  Frontend/src/mocks/fixtures/policy.ts
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/styles/theme.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: 헤더, 네비게이션 바 사이즈 관련 스타일 변경
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
Owners: @HyeryongChoi, @hae-on

feat: 헤더, 네비게이션 바 사이즈 관련 스타일 변경 (#88)
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
Owners: @HyeryongChoi, @hae-on

refactor: totalStep 옵셔널로 변경
  Frontend/src/components/@common/ProgressBar/ProgressBar.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 설문 카테고리 간격 수정
  Frontend/src/components/@common/Layout/MobileLayout.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
Owners: @HyeryongChoi, @hae-on

refactor: chipInput 스타일링 변경
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: survey region api 구현
  Frontend/src/constants/path.ts
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/pages/SurveyPage/Survey.api.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: survey region ui 구현
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: survey page 기본 ui 구현
  Frontend/src/pages/SurveyPage/SurveyPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: survey age page ui 구현
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
Owners: @HyeryongChoi, @hae-on

feat: survey age api 구현
  Frontend/src/constants/path.ts
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/pages/SurveyPage/Survey.api.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

feat: survey context 구현
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/pages/SurveyPage/Survey.context.tsx
  Frontend/src/pages/SurveyPage/Survey.type.ts
Owners: @HyeryongChoi, @hae-on

chore: context provider export
  Frontend/src/pages/index.ts
Owners: @HyeryongChoi, @hae-on

feat: 카테고리, 지역 checkbox 선택 가능하도록 구현
  Frontend/src/pages/SurveyPage/Survey.constant.ts
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Owners: @HyeryongChoi, @hae-on

feat: 나이 checkbox 선택 가능하도록 구현
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
Owners: @HyeryongChoi, @hae-on

chore: 콘솔 삭제
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Owners: @HyeryongChoi, @hae-on

chore: context 파일 대소문자 변경
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
  Frontend/src/pages/index.ts
Owners: @HyeryongChoi, @hae-on

chore: 대소문자 수정
  Frontend/src/pages/SurveyPage/Survey.hook.ts
Owners: @HyeryongChoi, @hae-on

feat: 설문조사 ui 구현 및 input 관련 로직 구현 (#90)
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/ProgressBar/ProgressBar.tsx
  Frontend/src/constants/path.ts
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/pages/SurveyPage/Survey.api.ts
  Frontend/src/pages/SurveyPage/Survey.constant.ts
  Frontend/src/pages/SurveyPage/Survey.context.tsx
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/Survey.type.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/types/common.ts
Owners: @HyeryongChoi, @hae-on

refactor: max width 수정
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
Owners: @HyeryongChoi, @hae-on

feat: localStorage util 구현
  Frontend/src/utils/localStorage.ts
Owners: @HyeryongChoi, @hae-on

feat: 필터 메타데이터 조회 쿼리 구현
  Frontend/src/apis/ClientApi.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.api.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.query.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/openingStatus.json
  Frontend/src/mocks/fixtures/filter.ts
  Frontend/src/mocks/handlers/filterHandlers.js
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/types/common.ts
  Frontend/src/utils/route.ts
Owners: @HyeryongChoi, @hae-on

refactor: 이전 설문으로 이동하는 props 추가
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
Owners: @HyeryongChoi, @hae-on

feat: funnel 훅 구현
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useFunnel.tsx
  Frontend/src/pages/SurveyPage/Survey.constant.ts
Owners: @HyeryongChoi, @hae-on

feat: 퍼널 연결
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Owners: @HyeryongChoi, @hae-on

Create Data
  Data
Owners: none

feat: 설문 조사 값이 있으면 홈페이지로 이동하도록 구현
  Frontend/src/App.tsx
Owners: @HyeryongChoi, @hae-on

refactor: 경로 수정
  Frontend/src/constants/path.ts
  Frontend/src/router/router.tsx
Owners: @HyeryongChoi, @hae-on

Create test
  Data/test
Owners: @enxxo

Create text
  Data/text
Owners: @enxxo

Add files via upload
  데이터프레임_전처리.py
Owners: none

chore: filter 아이콘 추가 및 바텀시트 최대 높이 변경
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
Owners: @HyeryongChoi, @hae-on

feat: Chip 스타일 변경
  Frontend/src/components/@common/Chip/Chip.tsx
Owners: @HyeryongChoi, @hae-on

feat: useValidQueryParams 훅 구현
  Frontend/src/hooks/@common/useValidQueryParams.ts
  Frontend/src/utils/route.ts
Owners: @HyeryongChoi, @hae-on

feat: 정책 목록 조회 쿼리 수정
  Frontend/src/components/Policy/PolicyList/PolicyList.api.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.query.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/hooks/@common/useEasyNavigate.ts
  Frontend/src/mocks/fixtures/filter.ts
  Frontend/src/mocks/fixtures/policy.ts
  Frontend/src/mocks/handlers/filterHandlers.js
  Frontend/src/mocks/handlers/policyHandlers.js
Owners: @HyeryongChoi, @hae-on

feat: PolicyFilterList 구현
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.stories.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.tsx
  Frontend/src/hooks/@common/index.ts
Owners: @HyeryongChoi, @hae-on

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync
