Repository INDIE-RO/INDIE-RO, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HyeryongChoi, @hae-on, @HASEUNGHEEE, @enxxo, @INDIE-RO/sync

feat: 배포 자동화 파일 작성 (#140)
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

refactor: paths 삭제
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

fix: pnpm 설치 로직 추가
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

fix: 캐싱 파일 변경
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

fix: pnpm 의존성 설치 추가 설정
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

fix: not found svg 경로 문제 해결
  Frontend/src/pages/NotFoundPage.tsx
Owners: @HyeryongChoi, @hae-on

fix: paths 추가 및 hashFile 경로 변경
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

fix: not found 이미지 파일명 오류 수정
  Frontend/src/pages/NotFoundPage.tsx
Owners: @HyeryongChoi, @hae-on

fix: notFound svg 뒤에 url 추가
  Frontend/src/pages/NotFoundPage.tsx
Owners: @HyeryongChoi, @hae-on

fix: s3 run 로직 변경
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

fix: delete dash 수정
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

chore: 한글로 변경
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

chore: msw 개발모드 끄기
  Frontend/src/index.tsx
Owners: @HyeryongChoi, @hae-on

fix: env 파일 생성
  .github/workflows/deploy.yml
Owners: @INDIE-RO/sync

chore: adorable-word-cloud 0.1.1버전으로 업데이트
  Frontend/package.json
  Frontend/pnpm-lock.yaml
Owners: @HyeryongChoi, @hae-on

chore: 잘못 생성된 package-lock.json 파일 삭제
  Frontend/package-lock.json
Owners: @HyeryongChoi, @hae-on

chore: 배포 워크플로우 수정
  .github/workflows/frontend-deploy.yml
Owners: @INDIE-RO/sync

chore: 워드클라우드 최신 버전으로 업데이트 (#142)
  .github/workflows/frontend-deploy.yml
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/pnpm-lock.yaml
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

chore: playwright 설치
  .github/workflows/playwright.yml
  Frontend/.gitignore
  Frontend/package.json
  Frontend/playwright.config.ts
  Frontend/pnpm-lock.yaml
  Frontend/tests-examples/demo-todo-app.spec.ts
  Frontend/tests/example.spec.ts
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

refactor: 사용하지 않는 코드 제거
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/utils/route.ts
Owners: @HyeryongChoi, @hae-on

chore: 테스트 워크플로우 타입체크 추가
  .github/workflows/playwright.yml
  Frontend/.gitignore
  Frontend/package.json
  Frontend/tests/tsconfig.json
Owners: @INDIE-RO/sync, @HyeryongChoi, @hae-on

chore: 테스트 워크플로우 캐싱 로직 추가
  .github/workflows/frontend-playwright.yml
  .github/workflows/playwright.yml
Owners: @INDIE-RO/sync

chore: PR 라벨링 워크플로우 name 수정
  .github/workflows/pr-label.yml
Owners: @INDIE-RO/sync

chore: pnpm 설치 로직 분리
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: playwright 캐싱 로직 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commit
  Frontend/tests/example.spec.ts
Owners: @HyeryongChoi, @hae-on

chore: 워크플로우 로직 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: 워크플로우 playwright 캐싱 로직 추가
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

fix: Playwright version 가져오는 로직 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: 워크플로우 로직 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

fix: 중복 쌍따옴표 삭제
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

fix: PlayWright 버전 저장하는 로직 수정
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commit
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commit
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commite
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commit
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: 워크플로우 순서 변경
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commit
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commit
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

chore: test commit
  .github/workflows/frontend-playwright.yml
Owners: @INDIE-RO/sync

.github/CODEOWNERS:

Frontend/ @HyeryongChoi @hae-on
Backend/ @HASEUNGHEEE
Data/ @enxxo

.github/ @INDIE-RO/sync
