Repository INDIE-RO/INDIE-RO, pull requests merged in 2024-06, with the labels that each got.

#21 feat: 글로벌 스타일 및 theme 설정
  Frontend/src/index.tsx
  Frontend/src/pages/Homepage.tsx
  Frontend/src/router/router.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/styles/theme.ts
Labels: 🍳 Frontend, ✨ Feature

#23 refactor: 폰트 재설정
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/styles/font.ts
  Frontend/src/styles/theme.ts
Labels: 🍳 Frontend, 🧹 Refactor

#26 feat: emotion styled 설치 및 스토리북 글로벌 스타일 적용
  Frontend/.storybook/preview.tsx
  Frontend/package.json
  Frontend/pnpm-lock.yaml
Labels: 🍳 Frontend, ✨ Feature

#29 chore: 백엔드 개발 환경 세팅
  Backend/Indiero/build.gradle
  Backend/Indiero/gradle/wrapper/gradle-wrapper.jar
  Backend/Indiero/gradle/wrapper/gradle-wrapper.properties
  Backend/Indiero/gradlew
  Backend/Indiero/gradlew.bat
  Backend/Indiero/settings.gradle
  Backend/Indiero/src/main/java/com/indiero/IndieroApplication.java
  Backend/Indiero/src/main/resources/application.properties
  Backend/Indiero/src/test/java/com/indiero/IndieroApplicationTests.java
Labels: 🚀 Backend, ✨ Feature

#28 feat: Chip 컴포넌트 구현
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.stories.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
  Frontend/src/components/@common/DesktopLayout/index.ts
  Frontend/src/components/@common/MobileLayout/index.ts
  Frontend/src/components/@common/index.ts
  Frontend/src/styles/GlobalStyle.tsx
Labels: 🍳 Frontend, ✨ Feature

#30 feat: 네비게이션 바 구현
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/NavigationBar/NavigationBar.stories.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/router/router.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/types/common.ts
Labels: 🍳 Frontend, ✨ Feature

#34 feat: refactor 이슈 템플릿 추가 및 리뷰어 등록 워크플로우 수정
  .github/ISSUE_TEMPLATE/REFACTOR.yml
  .github/labeler.yml
  .github/workflows/pr-auto-assign.yml
Labels: ⚙️ Setting

#33 feat: 헤더 구현
  Frontend/.storybook/main.ts
  Frontend/.storybook/preview-body.html
  Frontend/src/assets/logo.svg
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.stories.tsx
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.stories.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/common.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useEasyNavigate.ts
Labels: 🍳 Frontend, ✨ Feature

#37 feat: 태그 구현
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/Tag/Tag.stories.tsx
  Frontend/src/components/@common/Tag/Tag.tsx
  Frontend/src/emotion.d.ts
  Frontend/src/styles/theme.ts
Labels: 🍳 Frontend, ✨ Feature

#43 feat: Chip 컴포넌트에 tag 디자인 추가
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.stories.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
  Frontend/src/components/@common/ChipInpput/ChipInput.stories.tsx
  Frontend/src/components/@common/ChipInpput/ChipInput.tsx
Labels: 🍳 Frontend, ✨ Feature

#44 feat: 스크롤 버튼 구현
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/@common/ScrollButton/ScrollButton.stories.tsx
  Frontend/src/components/@common/ScrollButton/ScrollButton.tsx
  Frontend/src/components/@common/ScrollButton/useScroll.ts
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
Labels: 🍳 Frontend, ✨ Feature

#47 feat: Dialog 컴포넌트 구현
  Frontend/src/components/@common/Dialog/Dialog.stories.tsx
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/Dialog/DialogContext.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useContextInScope.ts
  Frontend/src/utils/@common.ts
Labels: 🍳 Frontend, ✨ Feature

#51 feat: 이슈 라벨링 자동화 구현
  .github/workflows/label.yml
Labels: ✨ Feature

#53 refactor: 이슈 라벨링 비동기로 변경
  .github/workflows/label.yml
Labels: ✨ Feature

#55 refactor: uses 버전 변경
  .github/workflows/label.yml
Labels: ✨ Feature

#57 refactor: label 자동화 로직 분리
  .github/workflows/issue-label.yml
  .github/workflows/pr-label.yml
Labels: 🍳 Frontend, ✨ Feature

#59 feat: 리뷰어 목록 수정
  .github/workflows/pr-auto-assign.yml
Labels: ⚙️ Setting

#49 feat: ProgressBar 구현
  Frontend/src/components/@common/ProgressBar/ProgressBar.stories.tsx
  Frontend/src/components/@common/ProgressBar/ProgressBar.tsx
Labels: 🍳 Frontend, ✨ Feature

#61 DialogConfirm 컴포넌트 구현
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/components/@common/Chip/Chip.stories.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipButton/ChipButton.tsx
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirm.stories.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirm.tsx
  Frontend/src/components/@common/DialogConfirm/DialogConfirmContext.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useConfirm.ts
Labels: 🍳 Frontend, ✨ Feature

#41 feat: TabMenu 구현
  Frontend/src/components/@common/TabMenu/TabMenu.stories.tsx
  Frontend/src/components/@common/TabMenu/TabMenu.tsx
  Frontend/src/components/@common/TabMenu/constants.ts
  Frontend/src/components/@common/TabMenu/type.ts
  Frontend/src/components/@common/TabMenu/useTabMenu.ts
  Frontend/src/constants/common.ts
  Frontend/src/types/common.ts
Labels: 🍳 Frontend, ✨ Feature

#67 feat: 메타데이터 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/MetadataController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Metadata.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
Labels: 🚀 Backend, ✨ Feature

#63 feat: Toast 컴포넌트 구현
  Frontend/.storybook/preview-body.html
  Frontend/public/index.html
  Frontend/src/App.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/Toast/Toast.stories.tsx
  Frontend/src/components/@common/Toast/Toast.tsx
  Frontend/src/components/@common/Toast/ToastContext.tsx
  Frontend/src/components/@common/Toast/useToastProvider.ts
  Frontend/src/components/@common/index.ts
  Frontend/src/emotion.d.ts
  Frontend/src/styles/theme.ts
Labels: 🍳 Frontend, ✨ Feature

#70 refactor: 기본 레이아웃 구현
  Frontend/src/App.tsx
  Frontend/src/components/@common/Layout/DefaultLayout.tsx
  Frontend/src/components/@common/Layout/DesktopLayout.tsx
  Frontend/src/components/@common/Layout/MobileLayout.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/Homepage.tsx
  Frontend/src/router/router.tsx
Labels: 🍳 Frontend, ✨ Feature

#72 feat: SearchBar 구현
  Frontend/.storybook/preview-body.html
  Frontend/src/components/@common/SearchBar/SearchBar.stories.tsx
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useDebounce.ts
Labels: 🍳 Frontend, ✨ Feature

#69 refactor: 정책 정렬 메타데이터 수정
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
Labels: 🚀 Backend, 🧹 Refactor

#74 정책 상세 정보 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Policy.java
  Backend/Indiero/src/main/java/com/indiero/dto/Description.java
  Backend/Indiero/src/main/java/com/indiero/dto/OtherInfo.java
  Backend/Indiero/src/main/java/com/indiero/dto/Qualification.java
  Backend/Indiero/src/main/java/com/indiero/dto/Tag.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/DetailPolicyResponse.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#76 feat: API 유틸함수 구현
  .env
  Frontend/src/apis/ClientApi.ts
  Frontend/src/apis/fetcher.ts
  Frontend/src/constants/error.ts
  Frontend/src/utils/route.ts
Labels: 🍳 Frontend, ✨ Feature

#78 feat: 설문조사 카테고리 api 구현
  Frontend/.storybook/preview.tsx
  Frontend/src/apis/ClientApi.ts
  Frontend/src/apis/fetcher.ts
  Frontend/src/assets/clover1.svg
  Frontend/src/assets/clover2.svg
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/ChipInput/ChipInput.stories.tsx
  Frontend/src/components/@common/ChipInput/ChipInput.tsx
  Frontend/src/components/@common/Layout/MobileLayout.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/index.tsx
  Frontend/src/mocks/browser.ts
  Frontend/src/mocks/data/ages.json
  Frontend/src/mocks/data/categories.json
  Frontend/src/mocks/data/regions.json
  Frontend/src/mocks/handlers.js
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/pages/IntroPage.tsx
  Frontend/src/pages/SurveyPage/Survey.api.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
  Frontend/src/types/common.ts
Labels: 🍳 Frontend, ✨ Feature

#77 feat: 사용자 맞춤정보 결과 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/PolicyResponse.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/UserPolicyResponse.java
  Backend/Indiero/src/main/java/com/indiero/repository/UserPolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#82 chore: dotenv-webpack 설치 및 env 환경설정
  .env
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/apis/fetcher.ts
  Frontend/src/types/env.d.ts
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ⚙️ Setting

#85 feat: 라우터 구조 변경
  Frontend/src/App.tsx
  Frontend/src/components/@common/Layout/BasicLayout.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/Homepage.tsx
  Frontend/src/router/router.tsx
Labels: 🍳 Frontend, ✨ Feature

#86 feat: 정책목록 조회 기능 구현
  Frontend/src/App.tsx
  Frontend/src/assets/noResult.svg
  Frontend/src/components/@common/Tag/Tag.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/PolicyItem/PolicyItem.stories.tsx
  Frontend/src/components/Policy/PolicyItem/PolicyItem.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.api.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.query.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.stories.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/common.ts
  Frontend/src/constants/path.ts
  Frontend/src/index.tsx
  Frontend/src/mocks/fixtures/policy.ts
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/styles/theme.ts
  Frontend/src/types/common.ts
Labels: 🍳 Frontend, ✨ Feature

#88 feat: 헤더, 네비게이션 바 사이즈 관련 스타일 변경
  Frontend/src/components/@common/IndieroHeader/IndieroHeader.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
Labels: 🍳 Frontend, ✨ Feature

#90 feat: 설문조사 ui 구현 및 input 관련 로직 구현
  Frontend/.storybook/preview.tsx
  Frontend/src/App.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/ProgressBar/ProgressBar.tsx
  Frontend/src/constants/path.ts
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/pages/SurveyPage/Survey.api.ts
  Frontend/src/pages/SurveyPage/Survey.constant.ts
  Frontend/src/pages/SurveyPage/Survey.context.tsx
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/Survey.type.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/types/common.ts
Labels: 🍳 Frontend, ✨ Feature

#95 feat: 키워드 검색 결과 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/common/WebBinderControllerAdvice.java
  Backend/Indiero/src/main/java/com/indiero/controller/MetadataController.java
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/SearchPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/ListPolicyResponse.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyQueryRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#96 feat: 설문조사 퍼널 구현
  Frontend/src/App.tsx
  Frontend/src/components/@common/NavigableHeader/NavigableHeader.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/constants/path.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useFunnel.tsx
  Frontend/src/pages/SurveyPage/Survey.constant.ts
  Frontend/src/pages/SurveyPage/Survey.context.tsx
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
  Frontend/src/utils/localStorage.ts
Labels: 🍳 Frontend, ✨ Feature

#97 feat: 정책목록 필터링 기능 구현
  Frontend/.storybook/preview-body.html
  Frontend/src/apis/ClientApi.ts
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.hook.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.stories.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.api.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.query.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.stories.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterList/PolicyFilterList.tsx
  Frontend/src/components/Policy/PolicyFilterSelectionDisplay/PolicyFilterSelectionDisplay.hook.ts
  Frontend/src/components/Policy/PolicyFilterSelectionDisplay/PolicyFilterSelectionDisplay.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.api.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.query.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/common.ts
  Frontend/src/constants/path.ts
  Frontend/src/hooks/@common/index.ts
  Frontend/src/hooks/@common/useEasyNavigate.ts
  Frontend/src/hooks/@common/useValidQueryParams.ts
  Frontend/src/mocks/data/openingStatus.json
  Frontend/src/mocks/fixtures/filter.ts
  Frontend/src/mocks/fixtures/policy.ts
  Frontend/src/mocks/handlers/filterHandlers.js
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/router/router.tsx
  Frontend/src/types/common.ts
  Frontend/src/utils/route.ts
Labels: 🍳 Frontend, ✨ Feature

#101 feat: 정책목록 정렬 기능 구현
  Frontend/.storybook/preview-body.html
  Frontend/.storybook/preview.tsx
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/@common/Dropdown/Dropdown.stories.tsx
  Frontend/src/components/@common/Dropdown/Dropdown.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.hook.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.api.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.hook.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.query.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/constants/path.ts
  Frontend/src/mocks/fixtures/metaData.ts
  Frontend/src/mocks/handlers/filterHandlers.js
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/metaDataHandlers.js
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/types/common.ts
Labels: 🍳 Frontend, ✨ Feature

#103 feat: 맞춤정보 페이지 구현
  Frontend/src/assets/cloverMagic.svg
  Frontend/src/components/@common/Dropdown/Dropdown.tsx
  Frontend/src/components/Policy/CustomInfo/CustomInfo.api.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.query.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/PolicyList/PolicyListContainer.stories.tsx
  Frontend/src/components/Policy/PolicyList/PolicyListContainer.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/router/router.tsx
Labels: 🍳 Frontend, ✨ Feature

#106 feat: 정책 상세 페이지 구현
  Frontend/src/components/@common/TabMenu/useTabMenu.ts
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.stories.tsx
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.tsx
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.stories.tsx
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.tsx
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/policyDetail.json
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.api.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.constant.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.query.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.type.ts
  Frontend/src/pages/PolicyDetailPage/PolicyDetailPage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
Labels: 🍳 Frontend, ✨ Feature

#105 chore: 파비콘 추가
  Frontend/pnpm-lock.yaml
  Frontend/public/assets/apple-icon-180x180.png
  Frontend/public/assets/favicon-16x16.png
  Frontend/public/assets/favicon-32x32.png
  Frontend/public/assets/favicon.ico
  Frontend/public/index.html
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ✨ Feature, ⚙️ Setting

#107 feat: 모두보기 결과 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/AllPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#111 feat: 워드클라우드 조회 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Word.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/WordCloudResponse.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#116 refactor: 워드클라우드 단어 가중치 변경
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#118 refactor: 정책 상세 정보 조회 기능 수정
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#114 refactor: 다이얼로그 백드롭 색상 변경
  Frontend/src/components/@common/Dialog/Dialog.tsx
Labels: 🍳 Frontend, 🧹 Refactor

#109 feat: 홈 페이지 구현
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/components/@common/Dropdown/Dropdown.tsx
  Frontend/src/components/@common/Layout/MobileLayout.tsx
  Frontend/src/components/@common/ScrollButton/ScrollButton.tsx
  Frontend/src/components/@common/SearchBar/SearchBar.tsx
  Frontend/src/components/@common/WordCloud/WordCloud.api.ts
  Frontend/src/components/@common/WordCloud/WordCloud.query.ts
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/wordCloud.json
  Frontend/src/mocks/fixtures/policy.ts
  Frontend/src/mocks/handlers/index.ts
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/mocks/handlers/wordCloudHandlers.js
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/Homepage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearch.api.ts
  Frontend/src/pages/PolicySearchPage/PolicySearch.hook.ts
  Frontend/src/pages/PolicySearchPage/PolicySearch.query.ts
  Frontend/src/pages/PolicySearchPage/PolicySearchListContainer.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearchPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
  Frontend/src/styles/GlobalStyle.tsx
  Frontend/src/types/common.ts
Labels: 🍳 Frontend, ✨ Feature

#122 feat: 인트로 페이지 멘트 구현
  Frontend/src/pages/IntroPage.tsx
Labels: 🍳 Frontend, ✨ Feature

#125 fix: dialog height 100%로 설정하여 모바일 디바이스에서 보이지 않는 문제 해결
  Frontend/package.json
  Frontend/src/components/@common/Dialog/Dialog.tsx
Labels: 🐛 Bug Report, 🍳 Frontend

#127 feat: 모바일 웹 dialog 관련 스타일 수정
  Frontend/src/components/@common/Dialog/Dialog.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
  Frontend/src/styles/GlobalStyle.tsx
Labels: 🍳 Frontend, ✨ Feature

#129 feat: 404 페이지, 로딩 페이지 구현 및 스크롤 버튼 위치 수정
  Frontend/src/App.tsx
  Frontend/src/assets/notFound.svg
  Frontend/src/components/@common/Loading/Loading.stories.tsx
  Frontend/src/components/@common/Loading/Loading.tsx
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/@common/ScrollButton/ScrollButton.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/constants/path.ts
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/LoadingPage.tsx
  Frontend/src/pages/NotFoundPage.tsx
  Frontend/src/pages/SurveyPage/Survey.hook.ts
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
  Frontend/src/pages/index.ts
  Frontend/src/router/router.tsx
Labels: 🍳 Frontend, ✨ Feature

#131 refactor: 버튼 스타일 fixed로 변경
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/IntroPage.tsx
  Frontend/src/pages/NotFoundPage.tsx
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/pages/SurveyPage/SurveyCategoryPage.tsx
  Frontend/src/pages/SurveyPage/SurveyRegionPage.tsx
Labels: 🍳 Frontend, ✨ Feature

#132 feat: 검색어 저장 기능 구현
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/KeywordCount.java
  Backend/Indiero/src/main/java/com/indiero/repository/KeywordRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature

#134 refactor: 워드클라우드 라이브러리 교체
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/components/@common/WordCloud/WordCloud.tsx
Labels: 🍳 Frontend, 🧹 Refactor

#136 fix: 검색어 입력할 때마다 홈페이지 리렌더링 되는 문제 해결
  Frontend/src/components/@common/SearchBar/SearchBarContainer.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/Homepage.tsx
Labels: 🐛 Bug Report, 🍳 Frontend

#138 chore: Meta og태그 삽입
  Frontend/public/assets/og-image.png
  Frontend/public/index.html
Labels: 🍳 Frontend, ✨ Feature

#140 feat: 배포 자동화 파일 작성
  .github/workflows/deploy.yml
Labels: ✨ Feature

#142 chore: 워드클라우드 최신 버전으로 업데이트
  .github/workflows/frontend-deploy.yml
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/pnpm-lock.yaml
Labels: 🍳 Frontend, ⚙️ Setting

#144 feat: PlayWright 설치 및 테스트 자동화 적용
  .github/workflows/frontend-playwright.yml
  .github/workflows/pr-label.yml
  Frontend/.gitignore
  Frontend/package.json
  Frontend/playwright.config.ts
  Frontend/pnpm-lock.yaml
  Frontend/src/pages/SurveyPage/Survey.query.ts
  Frontend/src/pages/SurveyPage/SurveyAgePage.tsx
  Frontend/src/utils/route.ts
  Frontend/tests-examples/demo-todo-app.spec.ts
  Frontend/tests/example.spec.ts
  Frontend/tests/tsconfig.json
Labels: 🍳 Frontend, ✨ Feature, ⚙️ Setting

#147 feat: 이슈 할당자 자동 등록 구현
  .github/workflows/frontend-playwright.yml
  .github/workflows/issue-label.yml
  Frontend/src/constants/error.ts
Labels: 🍳 Frontend, ✨ Feature

#151 fix: 구글 애널리틱스 아이디 추가
  .github/workflows/frontend-deploy.yml
Labels: 🐛 Bug Report

#153 feat: msw base url 설정
  Frontend/src/constants/path.ts
  Frontend/src/index.tsx
  Frontend/src/mocks/handlers/metaDataHandlers.js
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/mocks/handlers/surveyHandlers.js
  Frontend/src/mocks/handlers/wordCloudHandlers.js
  Frontend/src/types/env.d.ts
Labels: 🍳 Frontend, ✨ Feature

#155 feat: api BASE_URL 변경 및 맞춤정보 쿼리 수정
  .github/workflows/frontend-deploy.yml
  Frontend/src/apis/fetcher.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.api.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.query.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/components/Policy/PolicyDetailOverview/PolicyDetailOverview.tsx
  Frontend/src/components/Policy/PolicyItem/PolicyItem.tsx
Labels: 🍳 Frontend, ✨ Feature

#157 feat: 정책 상세정보 개행문자 적용 및 맞춤정보 네비게이터 오류 해결
  Frontend/src/components/@common/NavigationBar/NavigationBar.tsx
  Frontend/src/components/Policy/CustomInfo/CustomInfo.hook.ts
  Frontend/src/components/Policy/PolicyDetailContent/PolicyDetailContent.tsx
Labels: 🍳 Frontend, ✨ Feature

#159 fix: 배포 후 버그 리포팅
  .github/workflows/frontend-playwright.yml
  Frontend/__tests__/example.spec.ts
  Frontend/__tests__/tsconfig.json
  Frontend/playwright.config.ts
  Frontend/src/App.tsx
  Frontend/src/pages/PolicyDetailPage/PolicyDetail.query.ts
Labels: 🐛 Bug Report, 🍳 Frontend

#163 에러바운더리 추가 및 에러페이지 생성
  Frontend/src/App.tsx
  Frontend/src/components/@common/ErrorBoundary/ErrorBoundary.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/pages/ErrorPage.tsx
  Frontend/src/pages/index.ts
Labels: 🍳 Frontend, ✨ Feature

#161 MSW 목데이터 추가 및 맞춤정보 페이지 리팩터링
  Frontend/src/components/@common/Button/Button.stories.ts
  Frontend/src/components/@common/Button/Button.tsx
  Frontend/src/components/@common/Button/button.css
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
  Frontend/src/mocks/data/policies.json
  Frontend/src/mocks/handlers/policyHandlers.js
Labels: 🍳 Frontend, ✨ Feature

#166 정책 필터 초기화 기능 구현
  Frontend/src/components/@common/Chip/Chip.tsx
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.hook.ts
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
  Frontend/src/pages/Homepage.tsx
Labels: 🍳 Frontend, ✨ Feature

#168 feat: AI 추천 정책 조회 기능
  Backend/Indiero/build.gradle
  Backend/Indiero/src/main/java/com/indiero/common/WebConfig.java
  Backend/Indiero/src/main/java/com/indiero/controller/PolicyController.java
  Backend/Indiero/src/main/java/com/indiero/domain/Policy.java
  Backend/Indiero/src/main/java/com/indiero/dto/request/UserPolicyParams.java
  Backend/Indiero/src/main/java/com/indiero/dto/response/RecommendationPolicyResponse.java
  Backend/Indiero/src/main/java/com/indiero/repository/PolicyRepository.java
  Backend/Indiero/src/main/java/com/indiero/service/MetadataService.java
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🚀 Backend, ✨ Feature
