Repository INDIE-RO/INDIE-RO, pull requests merged in 2024-08, with the labels that each got.

#197 chore: gh-pages 배포 워크플로우 추가
  .github/workflows/frontend-deploy.yml
  .github/workflows/frontend-pages-deploy.yml
  Frontend/package.json
  Frontend/src/index.tsx
Labels: 🍳 Frontend, ✨ Feature

#199 chore: 배포 시 도메인 할당
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ✨ Feature, 🌎 Infra, ⚙️ Setting

#200 refactor: 1차 성능개선
  Frontend/src/assets.d.ts
  Frontend/src/assets/banner-1.avif
  Frontend/src/assets/banner-1.webp
  Frontend/src/assets/banner-2.avif
  Frontend/src/assets/banner-2.webp
  Frontend/src/components/Policy/PolicyFilterBottomSheet/PolicyFilterBottomSheet.tsx
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
  Frontend/src/router/router.tsx
  Frontend/src/utils/@common.ts
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ✨ Feature

#202 fix: 정책목록의 카테고리 탭을 쿼리파라미터와 동기화되도록 수정
  Frontend/src/constants/common.ts
  Frontend/src/pages/PolicyListPage.tsx
Labels: 🍳 Frontend, ✨ Feature

#206 test: jest 설치 및 api test 코드 작성
  .github/workflows/frontend-playwright.yml
  Frontend/__tests__/e2e/example.spec.ts
  Frontend/__tests__/unit/policyList.api.test.ts
  Frontend/__tests__/unit/recommendedPolicy.api.test.ts
  Frontend/__tests__/unit/wordCloud.api.test.ts
  Frontend/jest.config.js
  Frontend/package.json
  Frontend/playwright.config.ts
  Frontend/pnpm-lock.yaml
  Frontend/tsconfig.json
Labels: 🍳 Frontend, ✨ Feature

#208 playwright e2e 테스트 코드 작성
  .github/workflows/frontend-playwright.yml
  Frontend/__tests__/e2e/example.spec.ts
  Frontend/__tests__/e2e/indiero.spec.ts
  Frontend/src/components/Policy/CustomInfo/CustomInfo.tsx
Labels: 🍳 Frontend, ✨ Feature

#210 refactor: 테스트 브라우저 수정
  Frontend/playwright.config.ts
Labels: 🍳 Frontend, 🧹 Refactor

#204 refactor: 글자 크기 수정
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
Labels: 🍳 Frontend, 🧹 Refactor
