Repository INDIE-RO/INDIE-RO, pull requests merged in 2024-05, with the labels that each got.

#4 msw에러 해결
  Frontend/package.json
  Frontend/pnpm-lock.yaml
Labels: 🐛 Bug Report, 🍳 Frontend

#6 chore: 추가 초기세팅 및 스토리북 설정
  Frontend/.storybook/main.ts
  Frontend/.storybook/preview.tsx
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/App.tsx
  Frontend/src/components/@common/Button/Button.stories.ts
  Frontend/src/components/@common/Button/Button.tsx
  Frontend/src/components/@common/Button/button.css
  Frontend/src/index.tsx
  Frontend/src/router/router.tsx
  Frontend/tsconfig.json
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ⚙️ Setting

#9 아이콘 스프라이트 설정
  Frontend/.storybook/preview-body.html
  Frontend/package.json
  Frontend/pnpm-lock.yaml
  Frontend/src/App.tsx
  Frontend/src/components/@common/Svg/SvgIcon.stories.tsx
  Frontend/src/components/@common/Svg/SvgIcon.tsx
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/index.tsx
  Frontend/tsconfig.json
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ✨ Feature

#13 PR 라벨링 및 리뷰어 등록 자동화
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ⚙️ Setting

#17 chore: PR Assignees 등록 워크플로우 추가
  .github/workflows/pr-auto-assign.yml
Labels: ✨ Feature

#11 feat: 레이아웃 컴포넌트 구현
  Frontend/.babelrc.json
  Frontend/.storybook/preview-body.html
  Frontend/src/App.tsx
  Frontend/src/assets.d.ts
  Frontend/src/assets/indieroBackground.svg
  Frontend/src/components/@common/DesktopLayout/DesktopLayout.tsx
  Frontend/src/components/@common/DesktopLayout/index.ts
  Frontend/src/components/@common/MobileLayout/MobileLayout.tsx
  Frontend/src/components/@common/MobileLayout/index.ts
  Frontend/src/components/@common/Svg/SvgSprite.tsx
  Frontend/src/router/router.tsx
  Frontend/tsconfig.json
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ✨ Feature

#19 chore: PR Auto Assign 워크플로우 트리거 조건에 closed 이벤트 추가
  .github/workflows/pr-auto-assign.yml
Labels: ✨ Feature, ⚙️ Setting
