Repository INDIE-RO/INDIE-RO, pull requests merged in 2024-07, with the labels that each got.

#169 feat: 추천 정책 조회 구현
  Frontend/src/assets/banner-1.png
  Frontend/src/assets/banner-2.png
  Frontend/src/components/@common/Carousel/Carousel.stories.tsx
  Frontend/src/components/@common/Carousel/Carousel.tsx
  Frontend/src/components/@common/index.ts
  Frontend/src/components/Policy/PolicyList/PolicyList.tsx
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.api.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.stories.tsx
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
  Frontend/src/components/Policy/index.ts
  Frontend/src/constants/path.ts
  Frontend/src/mocks/data/recommendPolicy.json
  Frontend/src/mocks/handlers/policyHandlers.js
  Frontend/src/pages/CustomInfoPage.tsx
  Frontend/src/pages/Homepage.tsx
  Frontend/src/pages/PolicyListPage.tsx
  Frontend/src/pages/PolicySearchPage/PolicySearchPage.tsx
  Frontend/src/types/common.ts
  Frontend/src/utils/localStorage.ts
  Frontend/src/utils/style.ts
  Frontend/webpack.config.js
Labels: 🍳 Frontend, ✨ Feature

#172 chore: 릴리즈 워크플로우 생성
  .github/release-drafter.yml
  .github/workflows/release.yml
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
Labels: 🍳 Frontend, ✨ Feature

#177 refactor: 사이즈 별 글자 크기 수정
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
Labels: 🍳 Frontend, 🧹 Refactor

#179 fix: 정책 쿼리 요청 시 직전에 봤던 정책 id로 요청하도록 설정
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.api.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
Labels: 🐛 Bug Report, 🍳 Frontend

#180 release: v1.1.0
  Data/New_policy.py
  Data/Similar_policy.py
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.api.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.query.ts
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
Labels: 🍳 Frontend, 🧢 Data, 🛫 Release

#182 fix: 정책 상세에서 url 존재하지 않는 경우 버튼 비활성화
  Frontend/src/pages/PolicyDetailPage/PolicyDetailPage.tsx
Labels: 🐛 Bug Report, 🍳 Frontend

#185 fix: 기본 추천 정책 id 변경
  Backend/Indiero/src/main/java/com/indiero/service/PolicyService.java
Labels: 🐛 Bug Report, 🚀 Backend

#189 feat: 정책 추천 GA 코드 추가 및 배너로 클릭 이벤트 이동
  Frontend/src/components/Policy/RecommendedPolicy/RecommendedPolicy.tsx
Labels: 🍳 Frontend, ✨ Feature

#191 feat: SEO 개선 관련 파일 생성
  Frontend/public/robots.txt
  Frontend/public/sitemap.xml
Labels: 🍳 Frontend, ✨ Feature

#193 refactor: 살펴보러가기 버튼 뒷 배경 생성
  Frontend/src/mocks/data/policyDetail.json
  Frontend/src/pages/PolicyDetailPage/PolicyDetailPage.tsx
Labels: 🍳 Frontend, 🧹 Refactor
